# Python Data Types

### 1. List Comprehensions

In [2]:
x = int(input())
y = int(input())
z = int(input())
n = int(input())
nums = [[i, j, k] for i in range(x+1) for j in range(y +1) for k in range(z+1) if (i+j+k) != n]
print(nums)

1
1
1
2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

### 2. Find the Runner up Score

In [3]:
n = int(input())
arr = map(int, input().split())
print(sorted(set(arr), reverse=True)[1])

5
2 3 6 6 5
5

### 3. Nested Lists

In [6]:
students = []
for _ in range(int(input())):
    name = input()
    score = float(input())
    students.append([name, score])
mn = min(students, key=lambda x: x[1])
nonlowest = sorted([student for student in students if student[1] > mn[1]], key= lambda x: x[1])
seconds = sorted([student[0] for student in nonlowest if student[1] == nonlowest[0][1]])
for student in seconds:
    print(student)

2
Harry
37.21
Tina
46.98
Tina

### 4. Find the Percentage

In [7]:
n = int(input())
student_marks = {}
for _ in range(n):
    name, *line = input().split()
    scores = list(map(float, line))
    student_marks[name] = scores
query_name = input()
def find_percentage(name):
    return f"{sum(student_marks[name]) / len(student_marks[name]):.2f}"

print(find_percentage(query_name))

3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
Malika
56.00

### 5. Lists

In [8]:
N = int(input())
the_list = list()

for _ in range(N):
    query = input().split()
    if query[0] == "print":
        print(the_list)
    elif query[0] == "insert":
        the_list.insert(int(query[1]), int(query[2]))
    elif query[0] == "remove":
        the_list.remove(int(query[1]))
    elif query[0] == "append":
        the_list.append(int(query[1]))
    elif query[0] == "sort":
        the_list = sorted(the_list)
    elif query[0] == "pop":
        the_list.pop()
    elif query[0] == "reverse":
        the_list.reverse()

4
insert 0 6
insert 1 10
insert 4 9
print
[6, 10, 9]

### 6. Tuples

In [10]:
n = int(input())
integer_list = map(int, input().split())
t = tuple(integer_list)
print(hash(t))

2
1 2
-3550055125485641917

### 7. Introduction to Sets

In [1]:
def average(array):
    return sum(set(array))/len(set(array))

### 8. No idea!

In [12]:
n, m = input().split()

sc_ar = input().split()

A = set(input().split())
B = set(input().split())
print(sum([(i in A) - (i in B) for i in sc_ar]))

3 2
1 5 3
3 1
5 7
1

### 9. Symmetric Difference

In [13]:
m = int(input())
a = set(map(int, input().split()))
n = int(input())
b = set(map(int, input().split()))


c = a.difference(b)
d = b.difference(a)
e = c.union(d)

RESULT = list(e)
RESULT.sort()
for i in range(len(RESULT)):
    print(RESULT[i])

4
2 4 5 9
4
2 4 11 12
5
9
11
12

### 10. Set.add()

In [15]:
N = int(input())
country_set = set()

for i in range((N)):
    country_set.add(input())
    
print(len(country_set))

7
UK
China
Japan
China
UK
India
Singapore
5

### 11. Set .discard(), .remove() & .pop()

In [16]:
n = int(input())
s = set(map(int, input().split())) 

for i in range(int(input())):
    s1 = input().split()
    if s1[0] == 'pop':
        s.pop()
    elif s1[0] == 'remove':
        s.remove(int(s1[1]))
    elif s1[0] == 'discard':
        s.discard(int(s1[1]))

print(sum(s))

9
1 2 3 4 5 6 7 8 9
10
pop
remove 9
discard 9
discard 8
remove 7
pop
discard 6
remove 5
pop
discard 5
4

### 12. Set.union() Operation

In [17]:
n = int(input())
l = list(input().split())
m = int(input())
k = list(input().split())

s1 = set(l)
s2 = set(k)
print(len(s1.union(s2)))

9
1 2 3 4 5 6 7 8 9
9
9 21 34 6 45 23 2 17 14 10
16

### 13. Set.intersection() Operation

In [19]:
n1 = int(input())
s1=set(map(int , input().split()))
n2 = int(input())
s2=set(map(int , input().split()))
Intersection_set = set(s1.intersection(s2))
output=0
for i in Intersection_set:
  output+=1
print(output)

9
1 2 3 4 5 6 7 8 9
9
9 21 34 6 45 23 2 17 14 10
3

### 14. Set.difference() Operation

In [2]:
n = int(input())
s = set(map(int, input().split())) 

m = int(input())
t = set(map(int, input().split()))

print(len(s.difference(t)))

9
1 2 3 4 5 6 7 8 9
9
9 21 34 6 45 23 2 17 14 10
6

### 15. Set.symmetric_difference() Operation

In [3]:
m = input()
a = set(input().split())
n = input()
b = set(input().split())
print(len(a.symmetric_difference(b)))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
8

### 16. Set Mutations

In [5]:
length=int(input())
s=set(map(int, input().split()))
N=int(input())

for i in range(N):
    (p, q)=input().split()
    s2=set(map(int, input().split()))
    if p=='intersection_update':
        s.intersection_update(s2)
    elif p=='update':
        s.update(s2)
    elif p=='symmetric_difference_update':
        s.symmetric_difference_update(s2)
    elif p=='difference_update':
        s.difference_update(s2)
print(sum(s))

16
 1 2 3 4 5 6 7 8 9 10 11 12 13 14 24 52
4
intersection_update 10
2 3 5 6 8 9 1 4 7 11
update 2
55 66
symmetric_difference_update 5
22 7 35 62 58
difference_update 7
11 22 35 55 58 62 66
38

### 17. The Captain's Room

In [8]:
N = input()
lst = input().split()
s = set(lst)

for ele in list(s):
    lst.remove(ele)

captain_room = s.difference(set(lst)).pop()
print(CAPTAIN_ROOM_NUM)

5
1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2
8

### 18. Check Subset

In [9]:
for i in range(int(input())):
    a = int(input())
    set_a = set(map(int, input().split()))

    b = int(input())
    set_b = set(map(int, input().split()))

    if len(set_a - set_b) == 0:
        print("True")
    else:
        print("False")

3
5
1 2 3 5 6
9
9 8 5 6 3 2 1 4 7
True
1
2
5
3 6 5 4 1
False
7
1 2 3 5 6 8 9
3
9 8 2
False

### 19. Check Strict Superset

In [10]:
A = set(map(int, input().split()))
for i in range(int(input())):
    X = set(map(int, input().split()))
    if A.issuperset(X) != True or len(A) == len(X): 
        print(False)
        break 
else: 
    print(True)

1 2 3 4 5 6 7 8 9 10 11 12 23 45 84 78
2
1 2 3 4 5
100 11 12
False